html {
  --image-source: url('../media/bio.jpg');
}

.fade-in {
	-webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.side-drop-color {
  background-color: #dd7732;
  background-size: cover;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  transition:
    width .5s linear .6s,
}

.side-drop-color-active {
  width: 100%;
  transition:
    width .5s ease,
}

.side-drop-image {
  background-image: var(--image-source);
  background-size: cover;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  transition:
    opacity .5s linear .25s,
    background-image .5s linear .25s;
}

.side-drop-image-active {
  opacity: 1;
  transition:
    opacity .5s linear .25s,
    background-image .5s linear .25s;
}

.section-link {
  padding: 0;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.section-link span {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.section-link a:link, 
.section-link a:visited,
.section-link a:active {
  color: #ccc;
  mix-blend-mode: soft-light;
  text-shadow: 4px 4px 8px #000;
  text-decoration: none;
}

.section-link a:hover {
  color: #dd7732;
  mix-blend-mode: normal;
  text-decoration: none;
}

@media (min-width: 576px) {
  .section-link {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .section-link {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  .section-link {
    font-size: 6rem;
  }
}

@media (min-width: 1200px) {
  
}