@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #eee;
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: #dd7732;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.1rem;
  padding: 0;
}

p {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

.container-fluid {
  height: 100vh;
  padding: 0;
}

.container-fluid > div.row {
  height: 100%;
}

/* rows are having -15 margins by default for some unknown reason */
.row {
  margin-right: 0;
  margin-left: 0;
}

.fade-in {
	-webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.colored {
  color: #dd7732;
}

.smaller {
  font-size: 90%;
}

/**************
*  Name Logo  *
**************/

.long-name {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-right: -1rem;
}

.short-name {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  margin-right: -1rem;
}

.smile {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.long-name .smile {
  transform: rotate(83deg) translate(1.2rem, 2.8rem);
}

.short-name .smile {
  transform: rotate(83deg) translate(1.9rem, 4.1rem);
}

/**********
*  Links  *
**********/

p a:link, 
p a:visited,
p a:active,
p a:hover {
  color: #dd7732;
  text-decoration: none;
}

.short-name a:link, 
.short-name a:visited,
.short-name a:hover,
.short-name a:active {
  color: #ccc;
  text-decoration: none;
}

@media (min-width: 576px) {
  .long-name {
    font-size: 3rem;
  }
  .long-name .smile {
    transform: rotate(83deg) translate(1.9rem, 4.1rem);
  }
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
  
}