.container-fluid {
  height: 100vh;
}

.colored {
  color: #dd7732;
}

.smile {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  transform: rotate(83deg) translate(1.9rem, 4.1rem);
}

div p.intro {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

.tech .typed-text {
  font-weight: 600;
  color: #dd7732;
}

span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
  visibility: hidden;
}

span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.circle {
  visibility: hidden;
  background-color: #dd7732;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform: translate(-10rem,-1.75rem);
  position: absolute;
  bottom: 0;
  z-index: 99;
}

@keyframes animate {
  100% {
    width: 200vmax;
    height: 200vmax;
    transform: translate(-100vmax, 100vmax);
  }
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.btn {
  color: #ccc;
}

.btn:hover {
  color: #dd7732;
}