/******************************
*  Resume.js navigation tabs  *
******************************/

.accordion .card {
  color: #ccc;
  background-color: #dd7732;
}

.card-header {
  color: #ccc;
  background-color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-header:hover {
  color: #dd7732;
  background-color: #000;
  cursor: pointer;
}

.card-body {
  color: #ccc;
  background-color: #000;
}

.show-header {
  color: #dd7732;
}

.card-header span:last-child {
  transition: transform .2s linear;
}

.card-header.show-header span:last-child {
  transform: rotate(90deg);
  transition: transform .2s linear;
}

li.inner::before {
  content: '- ';
}

.border-bottom {
  border-color: #dd7732 !important;
}

small.icons a:link, 
small.icons a:visited,
small.icons a:active {
  color: #ccc;
  text-decoration: none;
}

small.icons a:hover {
  color: #dd7732;
  text-decoration: none;
}

.accordion > .card:last-child > .card-header {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  justify-content: center !important;
  height: 4rem;
}

.accordion > .card:last-child span {
  display: inline-block;
  margin: auto;
}