/******************************
*  Resume.js navigation tabs  *
******************************/

nav li.nav-item.nav-link {
  color: #dd7732;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid #ccc;
  margin: 2px 2px 0 2px;
  cursor: pointer;
}

nav li.nav-item.nav-link.active {
  color: #000;
  background-color: #dd7732;
}

nav li.nav-item.nav-link:hover {
  color: #000;
  background-color: #dd7732;
}

.nav-tabs {
  border-bottom: 0px solid #dd7732
}

.tab-pane {
  height: 100%;
  overflow-y: scroll;
}
