@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #eee;
}

.container-fluid {
  height: 100vh;
}

.myName {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

.colored {
  color: #dd7732;
}

.smile {
  display: inline-block;
  transform: rotate(85deg) translate(1.8rem, 4rem);
}

div p {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}
.tech .typed-text {
  font-weight: bold;
  color: #dd7732;
}
span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
  visibility: hidden;
}
span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.circle {
  visibility: hidden;
  float: right;
  background-color: #dd7732;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform: translate(-0.55rem,-1.75rem);
  position: absolute;
  bottom: 0;
  z-index: 99;
}

@keyframes animate {
  from {}
  to { width: 2000px; height: 2000px; transform: translate(-1000px,1000px);}
}